body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(80, 00, 00);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#icon {
    width: 62px;
}

#links {
    padding-right: 10px;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.noticias {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(124, 14, 14);
    padding: 6px;
    margin: 40px;
    border-radius: 40px;

}

.noticia {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(236, 236, 236);
    background-color: rgb(179, 19, 19);
    border: 4px solid rgb(0, 0, 0);
}

.img_noticia {
    width: 300px;
    height: 200px;
}

footer {
    background-color: rgb(129, 10, 10);
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.escalacao {
      text-align: center;
    background-color: rgb(129, 10, 10);
    padding: 20px;
    margin: 40px;
    border-radius: 40px;
    color: white;
    font-size: 25px;
}
.Jogdrs img {
    display:flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}
.jogador-card{
    text-align: center;
}
.jogadores p{
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;

}
.jogdrs{
    display: flex; /* Deixa os itens em linhas ou colunas */
    justify-content: center; /* Define o alinhamento dos ítens */
    gap: 60px; /* Define o tamanho do espaçamento */
    flex-wrap: wrap; /* Define se os itens flexíveis são forçados a ficarem na mesma linha */
}

.img_jgdrs {
    weight: 40px;
    height: 80px;
}
.elemento-fixo{
    position: fixed; /* Fixa o elemento em relação à tela */
    bottom: 0px;    /* Distância do fundo */
    right: 50px;     /* Distância da direita */
    z-index: 1000;   /* Garante que fique acima de outros conteúdos */
}
.elemento-fixo img{
    width: 150px;
    height: 150px;
}